/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.7;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Lora';
  color: #2c2c2c;
  font-size: var(--size-step-0);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--size-step-4);
  max-width: 20ch;
}

h2,
h3 {
  max-width: 28ch;
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  font-family: 'Lora';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: 'Playfair Display';
  font-weight: 700;
  line-height: 1.1;
  color: #2c2c2c;
}

/*
  10. Create a root stacking context
*/
button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --complimentary-color: #f0ede5;
  --background-beige: #fbf9f5;
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}

/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/playfair-display-v39-latin-regular.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/playfair-display-v39-latin-700.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/lora-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

header {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf9f5;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
}

.nav-btns-container {
  display: flex;
  gap: 4px;
  margin-right: 8px;
}

.nav-logo-container {
  margin-right: auto;
}

.nav-cta-btn {
  margin-left: 24px;
}

.nav-btn,
#hero-btn {
  cursor: pointer;
  padding: 4px;
  font-size: clamp(0.75rem, 2vw + 1rem, 1rem);
}

#order-online-btn,
#hero-btn {
  background-color: #8c5e3c;
  color: white;
  padding: 8px 16px;
  text-align: center;
  line-height: 1.2;
}

#hero-btn {
  margin-top: 32px;
  max-width: 50%;
}

.nav-btn:hover:not(#order-online-btn) {
  border-bottom: 1px solid black;
}

.hero-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/imgs/OLD_PAPER_TEXTURE-1.webp');
  padding: clamp(56px, 5vw, 80px) 0;
}

.section-container {
  max-width: 1200px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-section {
  flex-direction: column;
}

.hero-text-column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.hero-text-column h1 {
  margin-bottom: 32px;
}

.hero-text-column p {
  max-width: 50ch;
}

.hero-img-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 50%;
}

.hero-img-column img {
  max-height: 550px;
  width: auto;
  border-radius: 24px;
  min-height: auto;
}

footer {
  display: flex;
  padding: clamp(24px, 2vw, 56px) 0px;
  align-items: center;
  justify-content: center;
  background-color: #fbf9f5;
  flex-direction: column;
}

.footer-container,
.copyright {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 24px;
  width: 90%;
  justify-content: center;
  align-content: center;
}

.copyright {
  margin-top: 40px;
  text-align: center;
  max-width: 100ch;
  font-size: 0.9rem;
}

.footer-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.footer-column h2 {
  margin-bottom: 16px;
}

.footer-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
  }

  .hero-text-column {
    margin-bottom: 32px;
  }

  .nav-logo-container,
  .nav-cta-btn,
  .nav-btns-container {
    margin: 0;
  }

  nav {
    gap: 8px;
  }

  .nav-cta-btn {
    display: none;
  }

  .footer-container {
    flex-direction: column;
  }
}
